<p-growl [(value)]="message" [immutable]="false" life="7000"></p-growl>
<div class="flex-block site-content">
  <physician-left-navbar *ngIf="practiceId==0"></physician-left-navbar>
  <practice-left-navbar *ngIf="practiceId!=0"></practice-left-navbar>
  <div class="main-content">
    <error></error>
    <div class="content" scroll-bar>
      <p-dataTable [value]="physicians" scrollable="true" [paginator]="false" [rows]="pageSize" [responsive]="true" (onSort)="onSorting($event)"
        (onFilter)="onFiltering($event)">
        <p-column field="Name" header="Name" [sortable]="true" [filter]="true" filterMatchMode="contains" filterPlaceholder="Search"></p-column>
        <p-column field="Phone" header="Contact#" [sortable]="true" [filter]="true" filterMatchMode="contains" filterPlaceholder="Search"></p-column>
        <p-column field="Email" header="Email" [sortable]="true" [filter]="true" filterMatchMode="contains" filterPlaceholder="Search"></p-column>
        <p-column field="PhysicianLocationAssociation" header="Location" [sortable]="true" [filter]="true" filterMatchMode="contains"
          filterPlaceholder="Search"></p-column>
        <p-column field="NPI" header="NPI" [sortable]="true" [filter]="true" filterMatchMode="contains" filterPlaceholder="Search"></p-column>
        <p-column styleClass="col-button" [style]="{'width':'130px'}" header="Actions">
          <ng-template let-physician="rowData" pTemplate="body">
            <div>
              <span (click)="editPhysician(physician.Id)" class="cursor-pointer"> 
                  <i class="fa fa-pencil fa-md m3 m6 edit" aria-hidden="true" ></i>
                  </span>
              <span>
                  |
                  </span>
              <span (click)="deletePhysicianById(physician)" class="cursor-pointer">
                  <i class="fa fa-trash fa-md m3 m6 edit" aria-hidden="true"></i>
                  </span>
            </div>
          </ng-template>
        </p-column>
      </p-dataTable>
      <p-paginator [hidden]="totalRecords<=pageSize" [rows]="pageSize" [totalRecords]="totalRecords" (onPageChange)="pageChanged($event)"></p-paginator>
    </div>
  </div>
</div>
<footer class="footer site-container">
  <div class="flex-block space-between">
    <div class="flex-block">
      <!--pagination here-->
    </div>
    <div class="flex-block block">
      <div class="block" style="margin-top:1%">
        <h1 style="color:white">Total Physicians: {{totalRecords}}</h1>
      </div>
      <div class="delim m-l-30"></div>
      <a class="btn btn-light h-50 m-l-20" (click)="addPhysician()">Add Physician</a>
    </div>
  </div>
</footer>
<p-confirmDialog header="Confirmation" icon="fa fa-question-circle" width="425"></p-confirmDialog>
