<p-growl [(value)]="errorMessage" [immutable]="false" life="7000"></p-growl>
<div class="flex-block site-content">
  <patient-left-navbar></patient-left-navbar>
  <div class="flex-block site-content" *ngIf="patient">
    <div class="main-content">
      <div class="content" scroll-bar>
        <app-patient-view-main [patient]="patient"></app-patient-view-main>
      </div>
    </div>
  </div>
</div>

<footer class="footer site-container">
  <div class="flex-block space-between">
    <div class="flex-block">
    </div>
    <div class="flex-block block">
      <a class="btn btn-light h-50 m-l-20" (click)="editPatient()">Edit Patient</a>
      <a class="btn btn-light h-50 m-l-20" (click)="cancel()">Cancel</a>
    </div>
  </div>
</footer>