<div class="flex-block">
  <div class="titled-block block grow-100 m-r-20">
    <div class="title">Dashboard</div>
    <div class="content-block flex-block flex-wrap">
      <div class="labeled-block  block grow-40 offset-right" style="padding-right: 1%; width:480px !important">
        <div class="label">Patient</div>
        <div class="value">
          <!--<p-dropdown [filter]="true" placeholder='Please Select' [options]="patients" [(ngModel)]="orderDetail.PatientId" [filter]="true"
    (onChange)="onSelectPatient()"></p-dropdown>-->
          <a class="btn btn-light h-50 m-l-20">Edit Patient</a>
        </div>
      </div>
      <div class="labeled-block  block grow-50 offset-right " style="margin-top: 1%">
        <div class="label">
          <i class="fa fa-plus-circle fa-3x" style="cursor: pointer" ></i>
        </div>
      </div>
    </div>
  </div>
</div>