<p-growl [(value)]="errorMessages" [immutable]="false" life="7000"></p-growl>
<div class="flex-block site-content  ">
  <patient-eligibility-criteria-left-navbar></patient-eligibility-criteria-left-navbar>
  <div class="main-content">
    <div class="content" scroll-bar>
      <error></error>
      <div class="edit-mode">
        <div class="titled-block edit-mode">
          <div class="title">Utilization Profile</div>
          <div class="content-block flex-block grow-1">
            <div class="labeled-block offset-right block grow-30">
              <div class="label required">Utilization Profile Name</div>
              <div class="value">
                <input type="text" placeholder="Utilization Profile Name" [attr.maxlength]="100" [(ngModel)]="patientUtilization.Name" class="field"
                />
              </div>

              <div *ngIf="isPatientUtilizationIsEmpty" class="text-danger">
                Utilization Profile is required
              </div>
            </div>



          </div>

          <div class="content-block flex-block grow-1">
            <div class="labeled-block offset-right block grow-30">
              <div class="label ">Patient Eligibility Criteria</div>
              <div class="value">
                <p-dropdown placeholder='Please Select Eligibility Criteria' [(ngModel)]="patientUtilization.PatientUtilizationNameId" [options]="patientEligibilityCriterias"
                  [filter]="true">


                  <ng-template let-Eligibility pTemplate="item">

                    <div (click)="onPatientEligibilityCriteria(Eligibility)">{{Eligibility.label}}</div>

                  </ng-template>
                </p-dropdown>
              </div>
              <div>
                <div *ngIf="showEligibilityCriteria" class="text-danger">
                  Patient Eligibility Criteria is required
                </div>

                <div *ngIf="!showCriteria && !showEligibilityCriteria" class="text-danger">
                  Patient Eligibility Criteria already exists
                </div>
              </div>

            </div>
            <div class="label">
              <button class="btn btn-light h-50" style="margin-left: 1px;margin-top: 12px;" (click)="onAdd()">Add</button>
            </div>
          </div>



          <div class="content-block flex-block">
            <div class="ui-md-12">
              <div id="label" class="ui-md-12" *ngFor="let patientEligibility of patientUtilization.UtilizationProfilePatientCriterias ; let index = index">
                <p-panel [toggleable]="true" *ngIf="!patientEligibility.IsDeleted">
                  <p-header>
                    <span>
                      <span class="ui-panel-title" style="font-size:16px;display:inline-block;margin-top:2px; float:left">{{patientEligibility.patientCriteriaName}}</span>
                    <span class="ui-panel-title" style="padding-left: 73em;" (click)="deletePatientEligibility(patientEligibility)"> <i class="fa fa-trash-o fa-md m3 m6 edit cursor-pointer" aria-hidden="true" style="color: #1E384F;
    font-size: 20px;" pTooltip="Delete" ></i> </span>

                    </span>
                  </p-header>
                  <div class="ui-panel-content ui-widget-content content-align">

                    <div *ngFor="let frequency of patientEligibility.frequencyTypes" class="ui-g" style="width:100%">

                      <div class="ui-g-6">
                        <div class="ui-g-2" style="padding:3%;text-align: left">{{frequency.FrequencyTypeName}}</div>
                        <div class="ui-g-10"> <input type="text" [(ngModel)]="frequency.FrequencyNumber" OnlyNumber="true" [attr.maxlength]="100"
                            class="field" /></div>
                        <!--<label>{{frequency.Name}}</label>
                      <input type="text" placeholder="Patient Eligibility Profile Name" [attr.maxlength]="100" class="field" />-->
                      </div>

                    </div>

                  </div>

                </p-panel>
              </div>
            </div>



          </div>

        </div>
      </div>
    </div>

  </div>
</div>

<footer class="footer site-container">
  <div class="flex-block space-between">
    <div class="flex-block">
      <!--pagination here-->
    </div>
    <div class="flex-block block">
      <a class="btn btn-light h-50 m-l-20" (click)="save()">Save</a>
      <a class="btn btn-light h-50 m-l-20" (click)="cancel()">Cancel</a>
    </div>
  </div>
</footer>

<p-confirmDialog header="Confirmation" icon="fa fa-question-circle" width="425"></p-confirmDialog>
