.header {
  height: $header-height;
.site-container {
    padding-right: $scrollbar-offset;
  }
  .logo {
    height: 50px;
    width: 200px;
    img {
      display: block;
      max-width: 100%;
      max-height: 100%;
    }
  }

  .page-breadcrumb {
    padding:15px 0 0 30px;
    color: $normal-red;
  }
  .user-account {
    color: $normal-blue;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.2;
    padding:0 5px 0 0;

    .user-avatar {
      padding:0 10px 0 0;
      img {
        border-radius: 50%;
        width: 43px;
      }
    }
    .datetime {
      font-size: 15px;
    }
  }
}

.top-navbar {
  max-height: 60px;
  overflow: hidden;

  .btn {
    height:$button-height-60;
    line-height: $button-height-60;
    margin-right: 10px;
    // min-width: 180px;
    // width: auto;
 @media (min-width: 1300px)  {
    min-width: 9vw;
    width: 9vw;
    padding-left: 1vw;
    padding-right: 1vw;
  }
  @media (min-width: 1500px)  {
    min-width: 9vw;
    width: 9vw;
    padding-left: 1.4vw;
    padding-right: 1.4vw;
  }
    
    // padding-left: 30px;
    // padding-right: 30px;
   



    &:last-child {
      margin-right: 0;
    }
  }
}

.dropdown-menu-wrapper {
  $menu-height: 60px;
  width: 165px;
  position: relative;
  // height: $menu-height;
  height:$button-height-60;


  .menu-list {
    position: absolute;
    top: 0;
    left:0;
    right:0;
    z-index:10;
    height:$button-height-60;
    // height: $menu-height;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;

    .btn {
      margin:0 0 2px;
      background: $smooth-gray;
      color: $light-gray;

      &:hover {
        color: $light-gray;
        background:  $smooth-gray;
      }

      &.active {
        background: $normal-gray;
        color:  $smooth-gray;

        &::after {
          width: 0;
          height: 0;
          content: " ";
          vertical-align: middle;
          display: inline-block;
          margin-left: 3px;
          border-left: 8px solid transparent;
          border-right: 8px solid transparent;
          border-top: 8px solid $smooth-gray;
        }

        &:hover::after {
          border-top: 8px solid $smooth-gray;
        }
      }
    }
  }

  &:hover {
    .menu-list {
      height: auto;
    }
  }
}


.search-account {
  display: flex;
  border: 2px solid $normal-blue;
  border-radius: 5px;
  transition: all 0.2s;
  box-sizing: border-box;
  vertical-align: middle;

  &:focus, &:hover {
    box-shadow: 1px 1px 9px $normal-blue;
  }

  [type="text"] {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    font-size: $font-size-20;
    line-height: $h-px-30;
    height:$h-px-48;
    text-align: left;
    padding: 0 10px;
    color: $dark-blue;
    background-color: $extra-light-gray;
    border:none;
    transition: all 0.2s;
    display: block;
    vertical-align: middle;
    width: 100%;
    box-sizing: border-box;
  }

  .btn-search {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    text-align: center;
    padding: 0;
    color: $dark-blue;
    border: none;
    transition: all 0.2s;
    display: block;
    vertical-align: middle;
    cursor: pointer;
    box-sizing: border-box;
    height: $h-px-48;
    width: 58px;
    background-color: $extra-light-gray;
    background-image: url("#{$path-to-images}/search-icon.png");
    background-position: center;
    background-repeat: no-repeat;
  }
}
