<p-growl [(value)]="errorMsg" [immutable]="false" life="7000"></p-growl>
<content>
  <div class="flex-block site-content">
    <insurance-company-left-navbar></insurance-company-left-navbar>
    <div class="main-content">
      <div class="content" scroll-bar>
        <error></error>
        <p-dataTable [value]="insuranceCompanyTypes" scrollable="true" [paginator]="false" [rows]="pageSize" [responsive]="true"
          (onSort)="onSorting($event)" (onFilter)="onFiltering($event)">
          <p-column field="Name" header="Insurance Company Type" [sortable]="true" [filter]="true" filterMatchMode="contains" filterPlaceholder="Search">
            <ng-template let-insurance="rowData" pTemplate="body">
              <input class="form-control help-block text-danger" [style.borderColor]="ErrorDiv" style="width:50%" *ngIf="insurance.isedit == true || insurance.Id == 0"
                type="text" [(ngModel)]="insurance.Name" />
              <span *ngIf="insurance.isedit == false && insurance.Id != 0">{{insurance.Name}}</span>
            </ng-template>
          </p-column>



          <p-column styleClass="col-button" [style]="{'width':'130px'}" header="Actions">
            <ng-template let-compound="rowData" pTemplate="body">
              <div>

                <span *ngIf="compound.Id == 0 || compound.isedit == true" pTooltip="Save" class="cursor-pointer" (click)="savePrescribedMedicine(compound)"><i class="fa fa-floppy-o fa-md m3 m6 edit" aria-hidden="true"></i></span>


                <span *ngIf="compound.Id != 0 && compound.isedit != true" class="cursor-pointer" (click)="compound.isedit = true">
                <i class="fa fa-pencil fa-md m3 m6 edit" aria-hidden="true"></i> </span>
                <span>|</span>

                <span *ngIf="compound.Id == 0 || compound.isedit == true" pTooltip="Cancel" class="cursor-pointer" (click)="getInsuranceCompanyType()"><i class="fa fa-times fa-md m3 m6 edit" aria-hidden="true"></i></span>

                <span *ngIf="compound.Id != 0 && compound.isedit != true" class="cursor-pointer" (click)="deleteInsuranceCompanyType(compound)"> 
                 <i class="fa fa-trash fa-md m3 m6 edit" aria-hidden="true"></i></span>
              </div>
            </ng-template>
          </p-column>
        </p-dataTable>
        <p-paginator [hidden]="totalRecords<=pageSize" [rows]="pageSize" [totalRecords]="totalRecords" (onPageChange)="pageChanged($event)"></p-paginator>
      </div>
    </div>

  </div>

</content>

<footer class="footer site-container">
  <div class="flex-block space-between">
    <div class="flex-block">
      <!--pagination here-->
    </div>
    <div class="flex-block block">
        <div class="block" style="margin-top:1%">
            <h1 style="color:white">Total Insurance Company Types: {{totalRecords}}</h1>
          </div>
    <div class="delim m-l-30"></div>
      <a class="btn btn-light h-50 m-l-20" (click)="addInsuranceCompanyType()">Add Insurance Company Type</a>
    </div>
  </div>
</footer>

<p-confirmDialog header="Confirmation" icon="fa fa-question-circle" width="425"></p-confirmDialog>