<p-growl [(value)]="errorMsg" [immutable]="false" life="7000"></p-growl>
<div class="flex-block site-content">
  <prescribed-drugs-left-navbar *ngIf="!showTestingLeftMenu"></prescribed-drugs-left-navbar>
  <testing-menu-left-navbar *ngIf="showTestingLeftMenu"></testing-menu-left-navbar>
  <div class="main-content">
    <error></error>
    <div class="content" scroll-bar>

      <p-dataTable [value]="drugClasses" scrollable="true" [paginator]="false" [rows]="pageSize" [responsive]="true" (onSort)="onSorting($event)"
        (onFilter)="onFiltering($event)">
        <p-column field="ClassName" header="Class Name" [sortable]="true" [filter]="true" filterMatchMode="contains" filterPlaceholder="Search">
          <ng-template let-drug="rowData" pTemplate="body">
            <input class="form-control help-block text-danger" AlphaNumericWithExtraKey="true" [attr.maxlength]="200" style="width:50%" *ngIf="drug.isEdit == true || drug.Id == 0"
              type="text" [(ngModel)]="drug.ClassName" />
            <span *ngIf="drug.isEdit == false && drug.Id != 0">{{drug.ClassName}}</span>
          </ng-template>
        </p-column>

        <p-column field="ClassType" header="Class Type" [sortable]="true"  [filter]="true" filterMatchMode="contains" filterPlaceholder="Search">
          <ng-template let-drug="rowData" pTemplate="body">
            <div *ngIf="drug.isEdit == true || drug.Id == 0">
              <div>
                <p-radioButton name="group1" value="Test" label="Test" [(ngModel)]="drug.selectedValue" (click)="onDrugSelected(drug)"></p-radioButton>
              </div>
              <div>
                <p-radioButton name="group1" value="Drug" label="Drug" [(ngModel)]="drug.selectedValue" (click)="onDrugSelected(drug)"></p-radioButton>
              </div>
            </div>
            <span *ngIf="drug.isEdit == false && drug.Id != 0">{{drug.selectedValue}}</span>
          </ng-template>
        </p-column>


        <p-column styleClass="col-button" [style]="{'width':'130px'}" header="Actions">
          <ng-template let-compound="rowData" pTemplate="body">
            <div>
              <span *ngIf="compound.Id == 0 || compound.isEdit == true" pTooltip="Save" class="cursor-pointer" (click)="saveDrugClass(compound)">
                <i class="fa fa-floppy-o fa-md m3 m6 edit" aria-hidden="true"></i></span>

              <span *ngIf="compound.Id != 0 && compound.isEdit != true" class="cursor-pointer" (click)="editDrug(compound)">
                <i class="fa fa-pencil fa-md m3 m6 edit" aria-hidden="true"></i> </span>
              <span>|</span>

              <span *ngIf="compound.Id == 0 || compound.isEdit == true" pTooltip="Cancel" class="cursor-pointer" (click)="getDrugClass()">
                <i class="fa fa-times fa-md m3 m6 edit" aria-hidden="true"></i></span>

              <span *ngIf="compound.Id != 0 && compound.isEdit != true" class="cursor-pointer" (click)="deleteDrugClass(compound)"> 
                 <i class="fa fa-trash fa-md m3 m6 edit" aria-hidden="true"></i></span>
            </div>
          </ng-template>
        </p-column>
      </p-dataTable>
      <p-paginator [hidden]="totalRecords<=pageSize" [rows]="pageSize" [totalRecords]="totalRecords" (onPageChange)="pageChanged($event)"></p-paginator>
    </div>
  </div>
</div>

<footer class="footer site-container">
  <div class="flex-block space-between">
    <div class="flex-block">
      <!--pagination here-->
    </div>
    <div class="flex-block block">
      <div class="block" style="margin-top:1%">
        <h1 style="color:white">Total Drug/Test Classes: {{totalRecords}}</h1>
      </div>
      <div class="delim m-l-30"></div>
      <import-file [titleName]="importTitleName" [importTableHeader]="importTableHeader" [importTableRow]="importTableRow" [importFileType]="importFileType"
      (getGridData)="getDrugClass()"></import-file>
      <a class="btn btn-light h-50 m-l-20" (click)="addDrugClass()">Add Drug/Test Class</a>
    </div>
  </div>
</footer>


<p-confirmDialog header="Confirmation" icon="fa fa-question-circle" width="425"></p-confirmDialog>
