<p-growl [(value)]="errorMsg" [immutable]="false" life="7000"></p-growl>
<div class="flex-block site-content">
  <order-left-navbar [hidden]="true"></order-left-navbar>
  <div class="main-content">
    <div class="content" scroll-bar>
      <error></error>
      <div class="flex-block">

        <div class="titled-block block grow-100 ">
          <div class="title">Date Wise</div>
          <div class="content-block flex-block flex-wrap grow-1">
            <div class="labeled-block block  offset-right">
              <div class="value">
                <p-radioButton label="Today" value="1" [(ngModel)]="orderFilter.DateTypeSelect" (click)="selectSearchDate()"></p-radioButton>
              </div>
            </div>
            <div class="labeled-block block  offset-right">
              <div class="value">
                <p-radioButton label="Yesterday" value="2" [(ngModel)]="orderFilter.DateTypeSelect" (click)="selectSearchDate()"></p-radioButton>
              </div>
            </div>
            <div class="labeled-block block  offset-right">
              <div class="value">
                <p-radioButton label="This Week" value="3" [(ngModel)]="orderFilter.DateTypeSelect" (click)="selectSearchDate()"></p-radioButton>
              </div>
            </div>
            <div class="labeled-block block  offset-right">
              <div class="value">
                <p-radioButton label="Custom Date" value="4" [(ngModel)]="orderFilter.DateTypeSelect" (click)="selectSearchDate()"></p-radioButton>
              </div>
            </div>
          </div>
          <div class="content-block flex-block flex-wrap grow-1" style="width:47%">
            <div class="labeled-block offset-right block grow-50" *ngIf="orderFilter.DateTypeSelect == '4'">
              <div class="label">From Date</div>
              <div class="value">
                <p-calendar [monthNavigator]="true" appendTo="body" [yearNavigator]="true" yearRange="2000:{{currentYear}}" [(ngModel)]="orderFilter.FromDate"
                  dateFormat="mm/dd/yy" [showIcon]="true"></p-calendar>
              </div>
            </div>

            <div class="labeled-block offset-right block grow-50" *ngIf="orderFilter.DateTypeSelect == '4'">
              <div class="label">To Date</div>
              <div class="value">
                <p-calendar [monthNavigator]="true" appendTo="body" [yearNavigator]="true" yearRange="2000:{{currentYear}}" [(ngModel)]="orderFilter.ToDate"
                  dateFormat="mm/dd/yy" [showIcon]="true"></p-calendar>
              </div>
            </div>
          </div>
        </div>

      </div>


      <p-dataTable [value]="Orders" scrollable="true" expandableRows="true" [paginator]="false" [rows]="pageSize" [responsive]="true">
        <p-column expander="true" styleClass="col-icon" [style]="{'width':'50px'}"></p-column>
        <p-column field="OrderDate" [style]="{'width':'120px'}" header="Date" [sortable]="true" [filter]="true" filterMatchMode="contains"
          filterPlaceholder="Search">
          <ng-template let-order="rowData" pTemplate="body">
            <p>{{order.OrderDate | date:'MM/dd/yyyy' }}</p>
          </ng-template>
        </p-column>
        <p-column field="OrderNo" header="Order No." [sortable]="true" [filter]="true" filterMatchMode="contains" filterPlaceholder="Search"></p-column>
        <p-column field="PatientName" header="Patient Name" [sortable]="true" [filter]="true" filterMatchMode="contains" filterPlaceholder="Search"></p-column>
        <p-column field="PatientInsuranceName" *ngIf="orderFilter.NetworkType != 4" header="Insurance" [sortable]="true" [filter]="true"
          filterMatchMode="contains" filterPlaceholder="Search"></p-column>
        <p-column field="StatusName" *ngIf="orderFilter.NetworkType != 1 || orderFilter.NetworkType == 4 || orderFilter.NetworkType == 5 ||  orderFilter.NetworkType == 2"
          header="Status" [sortable]="true" [filter]="true" filterMatchMode="contains" filterPlaceholder="Search"></p-column>
        <p-column field="PracticeName" *ngIf="orderFilter.NetworkType == 1 || orderFilter.NetworkType == 4 || orderFilter.NetworkType != 5 || orderFilter.NetworkType == 2 || orderFilter.NetworkType == 3"
          header="Practice" [sortable]="true" [filter]="true" filterMatchMode="contains" filterPlaceholder="Search"></p-column>
        <p-column field="BillingLabName" *ngIf="orderFilter.NetworkType == 1 || orderFilter.NetworkType == 4 || orderFilter.NetworkType == 2"
          header="Billing Lab" [sortable]="true" [filter]="true" filterMatchMode="contains" filterPlaceholder="Search"></p-column>
        <p-column field="PreferredLabName" *ngIf="orderFilter.NetworkType == 1 ||  orderFilter.NetworkType == 3" header="Preferred Lab"
          [sortable]="true" [filter]="true" filterMatchMode="contains" filterPlaceholder="Search"></p-column>
        <p-column filterMatchMode="contains" [style]="{'width':'80px'}" filterPlaceholder="Search">
          <ng-template let-order="rowData" pTemplate="body">
            <div>
              <span (click)="viewOrder(order.Id, order.OrderNo)" pTooltip="View Order" class="cursor-pointer"> 
                <i class="fa fa-eye fa-md m3 m6 edit" aria-hidden="true" ></i> 
              </span>
              <span>|</span>
              <span (click)="pdfView(order.Id)" pTooltip="View PDF" class="cursor-pointer"> 
                <i class="fa fa-file-pdf-o fa-md m3 m6 edit" aria-hidden="true" ></i> 
              </span>
              <!-- <span *ngIf="order.OrderNo == null">|</span>
              <span *ngIf="order.OrderNo == null"> 
                  <i class="fa fa-floppy-o" aria-hidden="true"></i>
                </span> -->
              <!--<i *ngIf="order.OrderNo == null" pTooltip="Draft Order" class="fa fa-file" style="margin-top:2%" aria-hidden="true"></i>-->
            </div>
          </ng-template>
        </p-column>
        <!--<p-column expander="true" styleClass="col-icon"></p-column>-->
        <ng-template let-order pTemplate="rowexpansion">
          <!-- <i class="fa fa-floppy-o" aria-hidden="true"></i> -->
          <div class="ui-grid-row ui-grid-col-12">
            <div class="ui-grid-row ui-grid-col-12" style="border-bottom:2px solid #164f86">
              <div class="ui-grid-col-4" style="color:#164f86"> Tests
              </div>
              <div class="ui-grid-col-8" style="color:#164f86" *ngIf="orderFilter.NetworkType == 1 || orderFilter.NetworkType == 3"> Processing Labs
              </div>
            </div>
            <div class="ui-grid-row ui-grid-col-12">
              <div class="ui-grid-col-8" style="margin-left: 15%;">
                <div *ngFor="let test of order.OrderTests | orderby:'TestName'" class="ui-grid ui-grid-responsive ui-fluid" style="font-size:16px;padding:5px">
                  <div class="ui-grid-col-12">
                    <div class="ui-grid ui-grid-responsive ui-grid-pad">
                      <div class="ui-grid-row ui-grid-col-12">
                        <i class="fa fa-flask" aria-hidden="true" style="margin-top: .5%;"></i>
                        <div class="ui-grid-col-12" style="color:#164f86;text-align:left">{{test.TestName}}</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="ui-grid-col-4" style="margin-left: -20%;">
                <div *ngFor="let test of order.ProcessingLabs" class="ui-grid ui-grid-responsive ui-fluid" style="font-size:16px;padding:5px">
                  <div class="ui-grid-col-12" *ngIf="orderFilter.NetworkType == 1 || orderFilter.NetworkType == 3">
                    <div class="ui-grid ui-grid-responsive ui-grid-pad">
                      <div class="ui-grid-row ui-grid-col-12" style="border-bottom:1px solid #164f86;" *ngIf="test.ProcessingLabName != null">
                        <i class="fa fa-hospital-o" aria-hidden="true" style="margin-top: 1%;"></i>
                        <div class="ui-grid-col-12" style="color:#164f86;text-align:left;font-weight: 500;">{{test.ProcessingLabName}}</div>
                      </div>
                      <div class="ui-grid-row ui-grid-col-12" style="border-bottom:1px solid #164f86;" *ngIf="test.ProcessingLabName == null">
                        <i class="fa fa-tasks" aria-hidden="true" style="margin-top: 1%;"></i>
                        <div class="ui-grid-col-12" style="color:#164f86;text-align:left;font-weight: 500;">Pending Tests</div>
                      </div>
                      <div class="ui-grid-row ui-grid-col-12" *ngFor="let testlab of test.OrderTests | orderby:'TestName'" style="margin-left: 8%;">
                        <i class="fa fa-flask" aria-hidden="true" style="margin-top: 1%;"></i>
                        <div class="ui-grid-col-12" style="color:#164f86;text-align:left" *ngIf="testlab.TestName != ''">{{testlab.TestName}} - {{testlab.CPTCode}}</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="ui-grid-row ui-grid-col-12" style="margin-top: 2%;">
            <div class="ui-grid-row ui-grid-col-12" style="border-bottom:2px solid #164f86">
              <div class="ui-grid-col-4" style="color:#164f86;margin-left:3%">Eligibility Checks
              </div>
              <div class="ui-grid-col-8" style="color:#164f86">
              </div>
            </div>
            <div class="ui-grid-row ui-grid-col-12">
              <div class="ui-grid-col-12" style="margin-left: 15%;">
                <div *ngFor="let test of order.OrderEligibilities" class="ui-grid ui-grid-responsive ui-fluid" style="font-size:16px;padding:5px">
                  <div class="ui-grid-col-12">
                    <div class="ui-grid ui-grid-responsive ui-grid-pad">
                      <div class="ui-grid-row ui-grid-col-12">
                        <i  class="fa fa-graduation-cap" aria-hidden="true" style="margin-top: .5%;"></i>
                        <div class="ui-grid-col-12" style="color:#164f86;text-align:left">
                          <!-- {{test.EligibilityCheckName}} - {{test.IsFailed}} - {{test.FailingReason}} -->
                          <div class="ui-grid-col-4">
                            {{test.EligibilityCheckName}}
                          </div>
                          <div class="ui-grid-col-1">
                            <div *ngIf="test.IsFailed">Failed</div>
                            <div *ngIf="!test.IsFailed">Pass</div>
                          </div>
                          <div class="ui-grid-col-7">
                            {{test.FailingReason}}
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- <div class="ui-grid-col-4" style="margin-left: -20%;">
                  <div *ngFor="let test of order.ProcessingLabs" class="ui-grid ui-grid-responsive ui-fluid" style="font-size:16px;padding:5px">
                    <div class="ui-grid-col-12">
                      <div class="ui-grid ui-grid-responsive ui-grid-pad">
                        <div class="ui-grid-row ui-grid-col-12" style="border-bottom:1px solid #164f86;" >
                          <i class="fa fa-hospital-o" aria-hidden="true" style="margin-top: 1%;"></i>
                          <div class="ui-grid-col-12" style="color:#164f86;text-align:left;font-weight: 500;">{{test.ProcessingLabName}}</div>
                        </div>
                        <div class="ui-grid-row ui-grid-col-12" style="border-bottom:1px solid #164f86;" *ngIf="test.ProcessingLabName == null">
                          <i class="fa fa-tasks" aria-hidden="true" style="margin-top: 1%;"></i>
                          <div class="ui-grid-col-12" style="color:#164f86;text-align:left;font-weight: 500;"></div>
                        </div>
                        <div class="ui-grid-row ui-grid-col-12" *ngFor="let testlab of test.OrderTests | orderby:'TestName'" style="margin-left: 8%;">
                          <i class="fa fa-flask" aria-hidden="true" style="margin-top: 1%;"></i>
                          <div class="ui-grid-col-12" style="color:#164f86;text-align:left" *ngIf="testlab.TestName != ''">{{testlab.TestName}} - {{testlab.CPTCode}}</div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div> -->
            </div>
          </div>
        </ng-template>
        <!--<p-column field="OrderNo" header="Order No" [sortable]="true" [filter]="true" filterMatchMode="contains" filterPlaceholder="Search"></p-column>
        <p-column field="BillingLabName" header="Billing Lab Name" [sortable]="true" [filter]="true" filterMatchMode="contains" filterPlaceholder="Search"></p-column>
        <p-column field="StatusName" header="Status Name" [sortable]="true" [filter]="true" filterMatchMode="contains" filterPlaceholder="Search"></p-column>
        <p-column field="PracticeName" header="Practice Name" [sortable]="true" [filter]="true" filterMatchMode="contains" filterPlaceholder="Search"></p-column>-->


      </p-dataTable>



    </div>
  </div>
</div>
<footer class="footer site-container">
  <div class="flex-block space-between">
    <div class="flex-block">
      <!--pagination here-->
    </div>
    <div class="flex-block block">
      <div class="block" style="margin-top:1%">
        <h1 style="color:white">Total Orders: {{totalRecords}}</h1>
      </div>
      <div class="delim m-l-30"></div>
      <!-- <div class="label">Total Records: {{totalRecords}}</div> -->
      <a class="btn btn-light h-50 m-l-20" (click)="SearchOrderByFilterObject()">Search</a>

    </div>
  </div>
</footer>

<p-confirmDialog header="Confirmation" icon="fa fa-question-circle" width="425"></p-confirmDialog>
