<p-growl [(value)]="errorMessage" [immutable]="false" life="7000"></p-growl>
<div class="flex-block site-content">
  <testing-menu-left-navbar></testing-menu-left-navbar>
  <div class="main-content">
    <error></error>
    <div class="content" scroll-bar>
      <p-dataTable [value]="testingMenu" scrollable="true" [paginator]="false" [rows]="pageSize" [responsive]="true" (onSort)="onSorting($event)"
        (onFilter)="onFiltering($event)">
        <p-column field="ItemName" header="Analyte/Test Name" [sortable]="true" [filter]="true" filterMatchMode="contains" filterPlaceholder="Search"></p-column>
        <p-column field="ClassName" header="Drug/Test Class" [sortable]="true" [filter]="true" filterMatchMode="contains" filterPlaceholder="Search"></p-column>
        <p-column field="TestClassTypeName" header="Test Class Type" [sortable]="true" [filter]="true" filterMatchMode="contains"
          filterPlaceholder="Search"></p-column>
        <p-column field="TestModalityName" header="Test Modality" [sortable]="true" [filter]="true" filterMatchMode="contains" filterPlaceholder="Search"></p-column>
        <p-column field="TestingTypeValue" header="Test Type" [sortable]="true" [filter]="true" filterMatchMode="contains" filterPlaceholder="Search"></p-column>
        <p-column field="DrugFamilyName" header="CMS Drug Class" [sortable]="true" [filter]="true" filterMatchMode="contains" filterPlaceholder="Search"></p-column>
        <p-column styleClass="col-button" header="Actions">
          <ng-template let-testingMenu="rowData" pTemplate="body">
            <div>
              <span (click)="editTestingMenu(testingMenu.Id)" class="cursor-pointer"> 
                <i class="fa fa-pencil fa-md m3 m6 edit" aria-hidden="true" style="color: #1E384F;font-size: 20px;" ></i> 
              </span>
              <span>|</span>
              <span (click)="deleteTestingMenuById(testingMenu)" class="cursor-pointer"> 
                <i class="fa fa-trash fa-md m3 m6 edit" aria-hidden="true" ></i> 
              </span>
            </div>
          </ng-template>
        </p-column>
      </p-dataTable>
      <p-paginator [hidden]="totalRecords<=pageSize" [rows]="pageSize" [totalRecords]="totalRecords" (onPageChange)="pageChanged($event)"></p-paginator>
    </div>
  </div>
</div>

<footer class="footer site-container">
  <div class="flex-block space-between">
    <div class="flex-block">
      <!--pagination here-->
    </div>
    <div class="flex-block block">
      <div class="block" style="margin-top:1%">
        <h1 style="color:white">Total Analyte/Test Items: {{totalRecords}}</h1>
      </div>
      <div class="delim m-l-30"></div>
      <import-file [titleName]="importTitleName" [importTableHeader]="importTableHeader" [importTableRow]="importTableRow" [importFileType]="importFileType"
      (getGridData)="getTestingMenu()"></import-file>
      <a class="btn btn-light h-50 m-l-20" (click)="addTestingMenu()">Add Analyte/Test Item</a>
    </div>
  </div>
</footer>



<p-confirmDialog header="Confirmation" icon="fa fa-question-circle" width="425"></p-confirmDialog>
