<p-growl [(value)]="errorMessage" [immutable]="false" life="7000"></p-growl>
<div class="flex-block site-content">
  <testing-menu-left-navbar></testing-menu-left-navbar>
  <div class="main-content">
    <error></error>
    <div class="content" scroll-bar>
      <p-dataTable [value]="groupTests" scrollable="true" [paginator]="false" [rows]="pageSize" [responsive]="true" (onSort)="onSorting($event)"
        (onFilter)="onFiltering($event)">
        <p-column field="GroupTestName" header="Group Test Name" [sortable]="true" [filter]="true" filterMatchMode="contains" filterPlaceholder="Search"></p-column>
        <p-column field="CPTCode" header="CPT Code" [sortable]="true" [filter]="true" filterMatchMode="contains" filterPlaceholder="Search"></p-column>
        <p-column field="GCode" header="G Code" [sortable]="true" [filter]="true" filterMatchMode="contains" filterPlaceholder="Search"></p-column>
        <p-column field="ICDCodes" header="ICD Codes" [sortable]="true" [filter]="true" filterMatchMode="contains" filterPlaceholder="Search"></p-column>
        
        
        <p-column styleClass="col-button" [style]="{'width':'130px'}" header="Actions">
          <ng-template let-groupTest="rowData" pTemplate="body">
            <div>
              <span (click)="editGroupTest(groupTest.Id)" class="cursor-pointer"> 
                <i class="fa fa-pencil fa-md m3 m6 edit" aria-hidden="true" ></i> 
              </span>
              <span>|</span>
              <span (click)="deleteGroupTestById(groupTest)" class="cursor-pointer"> 
                <i class="fa fa-trash fa-md m3 m6 edit" aria-hidden="true" ></i> 
              </span>
            </div>
          </ng-template>
        </p-column>
      </p-dataTable>
      <p-paginator [hidden]="totalRecords<=pageSize" [rows]="pageSize" [totalRecords]="totalRecords" (onPageChange)="pageChanged($event)"></p-paginator>
    </div>
  </div>

</div>

<footer class="footer site-container">
  <div class="flex-block space-between">
    <div class="flex-block">
      <!--pagination here-->
    </div>
    <div class="flex-block block">
      <div class="block" style="margin-top:1%">
        <h1 style="color:white">Total Group Tests: {{totalRecords}}</h1>
      </div>
      <div class="delim m-l-30"></div>
      <a class="btn btn-light h-50 m-l-20" (click)="addGroupTest()">Add Group Test</a>
    </div>
  </div>
</footer>

<p-confirmDialog header="Confirmation" icon="fa fa-question-circle" width="425"></p-confirmDialog>
