<p-growl [(value)]="errorMsg" [immutable]="false" life="7000"></p-growl>
<form #f="ngForm" novalidate (ngSubmit)="save(f.valid)">
  <div class="flex-block site-content">
    <sales-representative-left-navbar></sales-representative-left-navbar>

    <div class="main-content">
      <div class="content" scroll-bar>
        <error></error>
        <div class="flex-block ">
          <div class="block grow-50 m-r-10">
            <div class="titled-block block grow-1 m-r-10 edit-mode">
              <div class="title">Sales Representative Information</div>
              <div class="content-block flex-block flex-wrap">
                <!-- <div class="labeled-block block grow-100 offset-right">
                  <div class="label required">Code</div>
                  <div class="value required">
                    <input name="Code" [(ngModel)]="salesRepresentative.Code" OnlyEntityName="true" #codeValidate="ngModel" required [attr.maxlength]="200"
                      class="field" />
                  </div>
                  <div [hidden]="codeValidate.pristine && !f.submitted && codeValidate.untouched">
                    <div *ngIf="codeValidate.errors && codeValidate.errors.required" class="text-danger">
                      Code is required
                    </div>
                  </div>
                </div> -->
                <div class="labeled-block block grow-100 offset-right">
                  <div class="label required">Name</div>
                  <div class="value required">
                    <input name="Name" [(ngModel)]="salesRepresentative.Name" OnlyEntityName="true" #nameValidate="ngModel" required [attr.maxlength]="50"
                      class="field" />
                  </div>
                  <div [hidden]="nameValidate.pristine && !f.submitted && nameValidate.untouched">
                    <div *ngIf="nameValidate.errors && nameValidate.errors.required" class="text-danger">
                      Name is required
                    </div>
                  </div>
                </div>

              </div>
            </div>
            <div class="titled-block block grow-1 m-r-10 edit-mode">
              <div class="title" *ngIf="salesRepresentative.Id == 0">Create Sales Representative Security</div>
              <div class="title" *ngIf="salesRepresentative.Id != 0">Update Sales Representative Security</div>
              <div class="content-block flex-block flex-wrap">
                <div class="labeled-block block grow-100 offset-right">
                  <div class="label required">Email</div>
                  <div class="value">
                    <input [disabled]="salesRepresentative.Id != 0" name="Email" [(ngModel)]="salesRepresentative.Email" #contactemail="ngModel"
                      required pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" [attr.maxlength]="50" class="field"
                    />
                  </div>
                  <div [hidden]="contactemail.pristine && !f.submitted && contactemail.untouched">
                    <div *ngIf="contactemail.errors && contactemail.errors.required" class="text-danger">
                      Email is required
                    </div>
                    <div *ngIf="contactemail.errors && contactemail.errors.pattern" class="text-danger">
                      Email is invalid
                    </div>
                  </div>
                </div>
                <div class="labeled-block block grow-50 offset-right">
                  <div class="label">Password</div>
                  <div class="value">
                    <input type="password" name="Password" [(ngModel)]="salesRepresentative.Password" class="field" #password="ngModel" minlength="4"
                      [attr.maxlength]="20" required />
                    <div [hidden]="password.valid || password.untouched" class="text-danger">
                      <div *ngIf="password.errors && (password.errors.required || password.errors.minlength)" class="text-danger">
                        Password is required and should be minimum 4 characters.
                      </div>
                    </div>
                  </div>
                </div>
                <div class="labeled-block block grow-50 offset-right">
                  <div class="label">Confirm Password</div>
                  <div class="value">
                    <input type="password" name="ConfirmPassword" [(ngModel)]="salesRepresentative.ConfirmPassword" class="field" />
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="titled-block block grow-50 m-r-10 edit-mode">
            <div class="title">Address Information</div>
            <div class="content-block flex-block flex-wrap">
              <div class="labeled-block block grow-100 offset-right">
                <div class="label required">Address</div>
                <div class="value">
                  <textarea class="field small-field-box" OnlyAddress="true" name="Address" style="height: 92px; width: 100%;" #addressValidate="ngModel"
                    required [(ngModel)]="salesRepresentative.Address" [attr.maxlength]="500"></textarea>
                </div>
                <div [hidden]="addressValidate.pristine && !f.submitted && addressValidate.untouched">
                  <div *ngIf="addressValidate.errors && addressValidate.errors.required" class="text-danger">
                    Address is required
                  </div>
                </div>
              </div>
              <div class="labeled-block block grow-50 offset-right">
                <div class="label required">City</div>
                <div class="value">
                  <input [(ngModel)]="salesRepresentative.City" name="City" OnlyAlphaNumeric="true" #cityValidate="ngModel" required [attr.maxlength]="20"
                    class="field" />
                </div>
                <div [hidden]="cityValidate.pristine && !f.submitted && cityValidate.untouched">
                  <div *ngIf="cityValidate.errors && cityValidate.errors.required" class="text-danger">
                    City is required
                  </div>
                </div>
              </div>
              <div class="labeled-block block grow-50 offset-right">
                <div class="label required">State</div>
                <div class="value">
                  <p-dropdown [filter]="true" name="State" placeholder='Please Select' [options]="states" [(ngModel)]="salesRepresentative.StateId"
                    [filter]="true"></p-dropdown>
                </div>
              </div>
              <div class="labeled-block block grow-50 offset-right">
                <div class="label required">Zip</div>
                <div class="value">
                  <input [(ngModel)]="salesRepresentative.Zip" name="Zip" OnlyNumber="true" #zipValidate="ngModel" required [attr.maxlength]="5"
                    class="field" />
                </div>
                <div [hidden]="zipValidate.pristine && !f.submitted && zipValidate.untouched">
                  <div *ngIf="zipValidate.errors && zipValidate.errors.required" class="text-danger">
                    Zip is required
                  </div>
                </div>
              </div>
              <div class="labeled-block block grow-50 offset-right">
                <div class="label required">Fax</div>
                <div class="value">
                  <input name="Fax" [(ngModel)]="salesRepresentative.Fax" OnlyNumber="true" class="field" [attr.maxlength]="15" />
                </div>
              </div>
              <div class="labeled-block block grow-50 offset-right">
                <div class="label required">Phone</div>
                <div class="value">
                  <input type="text" name="Phone" [(ngModel)]="salesRepresentative.PhoneNo" #phoneValidate="ngModel" required OnlyAlphaNumeric="true"
                    class="field" [attr.maxlength]="15" />
                </div>
                <div [hidden]="phoneValidate.pristine && !f.submitted && phoneValidate.untouched">
                  <div *ngIf="phoneValidate.errors && phoneValidate.errors.required" class="text-danger">
                    Phone is required
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <footer class="footer site-container">
    <div class="flex-block space-between">
      <div class="flex-block">
      </div>
      <div class="flex-block block">
        <button type="submit" class="btn btn-light h-50 m-l-20">Save</button>
        <!-- <a class="btn btn-light h-50 m-l-20" (click)="save()">Save</a> -->
        <a class="btn btn-light h-50 m-l-20" (click)="cancel()">Cancel</a>
      </div>
    </div>
  </footer>
</form>
